.filter-wrapper {
  position: relative;
  width: 240px;
}

/* main filter box */
.filter-box {
  width: 100%;
  height: 56px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  gap: 12px;

  background: #fff;
  border: 2px solid #d1d5db;
  border-radius: 14px;

  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.filter-box:hover {
  border-color: #9ca3af;
}

.filter-icon {
  font-size: 20px;
  opacity: 0.7;
}

.arrow {
  margin-left: auto;
  font-size: 16px;
  opacity: 0.7;
}

/* dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 62px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #d1d5db;

  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.12);
  padding: 6px 0;
  z-index: 20;
}

.dropdown-item {
  padding: 14px 18px;
  font-size: 16px;

  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f1f5f9;
}

.dropdown-item.active {
  background: #e8f0ff;
  font-weight: 600;
}

.check {
  color: #2563eb;
}
