/* RESET DEFAULT - ไม่พัง layout */
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* FONT & GLOBAL COLOR */
body {
  margin: 0;
  padding: 0;
  background: #f5f6fa; 
  font-family: 'Prompt', sans-serif;
}

/* ป้องกัน layout ล้นขวา */
* {
  box-sizing: border-box;
}